<html>
  <head>
    <title></title>
  </head>
  <body>
    <div class="container-fluid cart">
    <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-primary fw-bold " href="#">vivo store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <img src="https://img.icons8.com/external-others-inmotus-design/67/000000/external-Menu-virtual-keyboard-others-inmotus-design-24.png"/>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-info text-dark " aria-current="page" href="#">My orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-info text-dark" aria-current="page" href="#">Cart</a>
        </li>

      </ul>
      <div>
        <a class="btn btn-primary" href="/logout" role="button">Log out</a>
      </div>
    </div>
  </div>
</nav>


<section>
  <div class="container mt-5 ">
    <div class="row">
      {{#each products}}
      <div class="col-md-3 d-flex justify-content-between">
        <div class="card shadow" style="width: 18rem;">
          <img class="card-img-top" src="{{this.image}}" alt="Phone image" />
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.description}}</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
      {{/each}}

    </div>
  </div>
</section>
</div>
  </body>
</html>


